/* width:  height:
   cancho: alto: */

body {
    background-color: black;
    font-family: "Lobster",sans-serif;
}
table {
    background-color: white;
    width: 35%;
	height: 250px;
}
#tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#tdb {
    border-bottom: solid;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
  font-size: 32px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

button{
    font-size: 18px;
    background-color:#c0c0c0;
    font-family: "Lobster",sans-serif
}
